.container{
    background-color: rgb(2,140,182);
    height: 250px;
    padding-top: 100px;
    padding-left: 30px;
    z-index: 1;

}
.container h1{
    color: white
}

#search{
    height: 40px;
    width: 97%;
    border: 1px solid black;
    border-radius: 30px;
    background-color: white;
    padding: 0%;
    margin-top: 50px;
    position: relative;
}
#search input{
    height: 40px;
    width: 92%;
    border: none;
    border-radius: 30px;
    margin: 0px;
    padding-left: 10px;
    font-size: 1.1rem;
}
input:focus{
    outline:none;
}
input::placeholder{
    font-size: 20px;
    text-align: left;
}
#search a{
    background-color: rgb(72,210,173);
    text-align: center;
    justify-self: center;
    text-decoration: none;
    padding: 10px 20.5px 12px 20.4px;
    border-radius: 30px;
    font-weight: bold;
    position: absolute;
    right: 0;
}


@media (max-width: 600px){
    .container{
        height: 300px;
    }
}